<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ 作者：CF
  ~ 日期：2020-07-06 10:25
  ~ 项目：djmall
  ~ 模块：djmall_product_provider
  ~ 类名：ProductMapper.xml
  ~ 版权所有(C), 2020. 所有权利保留
  -->

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mall.product.mapper.spu.ProductMapper">
    <!--商品展示-->
    <select id="findAll" resultType="com.dj.mall.product.bo.spu.ProductBO">
        SELECT
            ps.id AS productId,
            ps.product_name,
            ps.freight_id,
            ps.product_describe,
            ps.product_img,
            ps.product_type,
            ps.user_id,
            ps.product_status,
            ps.order_number,
            ps.praise_number,
            pf.freight,
            bd.base_name AS company,
            bd2.base_name AS productStatus
        FROM
            djmall_product_spu ps
        LEFT JOIN djmall_dict_product_freight pf ON ps.freight_id = pf.id
        LEFT JOIN djmall_dict_base_data bd ON pf.company = bd.base_code
        LEFT JOIN djmall_dict_base_data bd2 ON ps.product_status = bd2.base_code
        <where>
            <if test="product.userId != null">
                ps.user_id = #{product.userId}
            </if>
            <if test="product.productName != null and product.productName != ''">
                <bind name="productNameLike" value="'%'+product.productName+'%'"/>
                AND ps.product_name LIKE "%"#{productNameLike}"%"
            </if>
            <if test="product.productTypeList != null and product.productTypeList.size > 0">
                AND ps.product_type IN
               <foreach collection="product.productTypeList" item="productType" open="(" close=")" separator=",">
                   #{productType}
               </foreach>
            </if>
        </where>
        GROUP BY ps.id DESC
    </select>
    <!--根据商品id查找全部商品评论-->
    <select id="findReviewsByProductId" resultType="com.dj.mall.product.bo.reviews.ProductReviewsBO">
        SELECT
            pr.id,
            pr.reviewer_id,
            pr.product_id,
            pr.`comment`,
            pr.reply_id,
            pr.create_time,
            pr.rate,
            au.nick_name
        FROM
            djmall_product_reviews pr
                LEFT JOIN djmall_auth_user au ON pr.reviewer_id = au.id
        WHERE
            pr.product_id = #{reviews.productId}
            AND pr.reply_id = -1
        <if test="reviews.commentType == 1">
            AND pr.rate &gt; 3
        </if>
        <if test="reviews.commentType == 2">
            AND pr.rate = 3
        </if>
        <if test="reviews.commentType == 3">
            AND pr.rate &lt; 3
        </if>
    </select>

    <!--好评率-->
     <select id="findGoodRateByProductId" resultType="java.lang.Integer">
        SELECT
            (SUM(IF(pr.rate &gt; 3, 1, 0)) / COUNT(pr.rate)) * 100 AS goodRate
        FROM
            djmall_product_reviews pr
        WHERE
            pr.product_id = #{productId}
    </select>
</mapper>