<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ 作者：CF
  ~ 日期：2020-07-06 10:25
  ~ 项目：djmall
  ~ 模块：djmall_dict_provider
  ~ 类名：AttrMapper.xml
  ~ 版权所有(C), 2020. 所有权利保留
  -->

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mall.dict.mapper.attr.AttrMapper">

    <select id="findAll" resultType="com.dj.mall.dict.bo.attr.AttrBO">
        SELECT
            pa.id AS attrId,
            pa.attr_name,
            GROUP_CONCAT(pav.attr_value) AS attrValue
        FROM
            djmall_dict_product_attr pa
        LEFT JOIN djmall_dict_product_attr_value pav ON pa.id = pav.attr_id
        GROUP BY
            pa.id
    </select>
    <!--加载通用sku已关联的商品属性根据商品类型查-->
    <select id="loadSkuGmRelatedAttrByProductType" resultType="com.dj.mall.dict.bo.attr.AttrBO">
        SELECT
            pa.id AS attrId,
            pa.attr_name,
            GROUP_CONCAT(pav.id) attrValueIds,
            GROUP_CONCAT(pav.attr_value) attrValues
        FROM
            djmall_dict_product_sku_gm psg
        LEFT JOIN djmall_dict_product_attr pa ON pa.id = psg.attr_id
        LEFT JOIN djmall_dict_product_attr_value pav ON pa.id = pav.attr_id
        WHERE
            psg.product_type = #{productType}
        GROUP BY
            pa.id
    </select>
</mapper>